//mixin media-query
$smartphone-width: 576px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin smartphone {
  @media (max-width: #{$smartphone-width}) { @content; } }

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

//color
$dark-grey:#222222;
$light-grey:#f3f3f3;
$overlaybianco:linear-gradient(to bottom, rgba(255,255,255,0.1) , rgba(255,255,255,1));
$main-darker:#FF5A2B;
$orange:#ff7e59;
$title-color:#466573;
