@import 'custom-variables';
/*
@import '../vendors/bootstrap/scss/bootstrap';

/*
per UP
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
per DOWN usare quello sotto di 1
*//*
@include media-breakpoint-up(md){
	.test{
		color:red;
	}
}
@include media-breakpoint-down(sm){ //nel down devo usarne uno in meno
	.test{
		color:blue;
	}
}
*/
body{
	color:#333;
}
img{
	max-width: 100%;
	height: auto;
}

.custom-logo{
		height: 50px;
		width: auto;
	}

.overlay-bg{
		background:linear-gradient(180deg,hsla(0,0%,100%,.1),#fff);
	}

.grey-bg{
	background-color:$light-grey;
}

//text

h1,h2,h3,h4,h5,h6{
	color:$title-color;
	a{
		color:$title-color;
	}
}
a[aria-current=page]{
	color: $title-color;
	font-weight: bold;}

.s1,.s2{color: #777777}

.fs-40{
	font-size:40px;
}

.scroll-to-fixed-fixed{
	position: fixed;
	width: 100%;
	top:0;
}

.text-cta{
	&:hover{
		color: #f1f1f1;
	}
}
.page-content{
	em{
	font-style: italic;
	}
	ul{
		list-style:disc inside;
	}
	ol{
		list-style:decimal inside;
	}
	//tabelle
	table{
		margin:1.5rem 0;
		td{
			padding: 1rem;
			border:1px solid #eee;
		}
	}
}
//flex
.flex-c{
	display: flex;
	align-items: center;
	justify-content: center;
	@include smartphone{
		flex-direction: column;
	}
}

.flex-sb{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.flex-ai{
	display: flex;
	align-items: center;
}
//Header
.site-title{
		margin:15px 0;
}
.header-top{
	@include smartphone{
		display: none;
	}
}
#site-navigation{
	display: none;
	@include desktop{
		display: block;
	}
	#primary-menu{ 
		display: flex;
		flex-direction: row;
		.menu-item{
			margin-right: 2rem;
			&:last-child{
				margin-right:0;
			}
			a[href*="#"]{
				pointer-events: none;
			}
			a{
				transition: all .2s linear;
				&:hover{font-weight: bold;
				color:$title-color;
			}
			}
			.sub-menu{
				display: block;
				opacity: 0;
				margin-left: 0;
				z-index: 999;
				background-color: white;
				padding: 2rem 1rem 1rem;
				position: absolute;
				transition: all .4s ease;
				transform: scaleY(0);
				transform-origin: top center;
				li{
					margin-bottom: 1rem;
					&:last-child{margin-bottom: 0;}
				}
			}
			&:hover{
				.sub-menu{
					transform: scaleY(1);
					opacity: 1;
				}
			}
		}
}
}
#pull{
	display: block;
	i{
		color:$main-darker;
		font-size: 25px;
	}
	@include desktop{
		display: none;
	}
}
div.container.flex-sb:before,div.container.flex-sb:after{
	display: none;
}

//Footer
.footer-news{
	img{
		width: 80px;
		height: auto;
	}
	.post-title{
		line-height: 1;
	}
}
.bg-white{background-color: #ffffff;}

//Breadcrumbs
.breadcrumbs{
	color: $dark-grey;

	.home{
		color:$dark-grey;
	}
	.post{
		color:$dark-grey;
	}
	.current-item{
		color: #FF7E59;
	}
	.taxonomy{
		color:$dark-grey;
	}
}
//Form
#appointment_form_at_home{
.wpcf7-response-output{
	color:white;
	border:2px solid $orange!important;
}}
.area-newsletter-form{
.wpcf7-response-output{
	color:white;
	border:2px solid black!important;
}
}
.main-form{
	.wpcf7-response-output{
	border:2px solid $orange!important;}
}
span.wpcf7-not-valid-tip{
	color: $orange;
}
.wpcf7-acceptance{
	span{
		font-weight: 300;
	}
}
span.wpcf7-list-item{
	margin-left: 0;
}

#appointment_form_at_home, .area-newsletter-form{
	.wpcf7-acceptance{
	span{
		color: white;
		a{
			color: white;
			opacity: .6;
			&:hover{
				opacity: 1;
			}
		}
	}
	}
}
.area-newsletter-form{
	p{
		margin-top: .5rem;
	}
}
.parallax{
	@include smartphone{
	background-attachment: scroll;
	background-position: center;
	background-size: cover;
}
}


//hero-slider

.slick-slider{
	.slick-prev,.slick-next{
		    font-size: 0;
		    line-height: 0;
		    position: absolute;
		    top: 50%;
		    display: block;
		    width: 100px;
		    height: 100px;
		    padding: 0;
		    transform: translate(0, -50%);
		    cursor: pointer;
		    color: black;
		    background:transparent;
		    z-index: 100;
		    opacity: .3;
		    &:hover{opacity: 1;}
		    &:before{font-size: 40px;}
		    @include smartphone{
		    	display: none;
		    }

	}
	.hero-bg {
		background-size: cover;
		background-repeat: no-repeat;
		.overlay-bg{
			background-color:linear-gradient(180deg,hsla(0,0%,100%,.1),#fff);
		}
	}
	.slick-slide{
		margin:0;
	}
}

.icon-box{
	margin-bottom: 0;
}
.border-theme-colored{
	border:3px solid;
}

.card-img{
	img{
		width: 100%; height: auto;
	}
}
.med-card{
	height: 150px;
	padding: 10px 0;
}

.owl-carousel{
	.owl-item{
		.testimonial{
			.comment{
				display: flex;
				align-items: center;
				&:before{
						top:0;
						left:10px;
					}
				p{
					margin:0 0 0 15px;
				}
			}
			img{
				width: 100px;
				height: auto;
			}	
		}
	}
}

.newsletter-home{
		form{
		margin-bottom: 0;
		.form-news{
			.btn-dark{
				padding:6px 12px;
				height: 45px;
			}
		}
	}
	@include smartphone{
		margin-top: 10px;
		width: 90%;
	}
}

//single Servizi
[aria-current="page"]{
	color:#FF7E59 ;
	&:hover{
		color: #D93000 ;
	}
}
//TPL Medici
.med-page{
	margin-bottom: 2rem;
		a{
			background-color: #FF7E59;
			color: white;
			&:hover{
				background-color: #333333;
				color: white;
			}
		}
}
//Post/blog
.post{
	.post-thumb{
					flex-shrink: 0;
		img{
			width: 75px;
			height: auto;

		}
	}
}
//page-navi
.wp-pagenavi{
	text-align:center;
	a,span{
		padding:4px 6px;
		border:2px solid $light-grey;
		&:hover{
			border:2px solid $orange;
		}
	}
}

.list-border{
	    border-bottom: 1px dashed rgb(211, 211, 211);
}
.py-10{
	padding: 10px 0px;
}
.curent-page{
	color:#d93000;
}

#wp-admin-bar-perseoweb .ab-item,
#wp-admin-bar-perseoweb:hover .ab-item { background:url('../images/perseoweb.png') no-repeat !important; width:133px; text-indent:-9999px; }
.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto;
        touch-action: auto;
}

.logo-conv{
	width: 60%;
	margin:0 auto;
}
